# Postres database url
DATABASE_URL=''
# Firebase service account credentials
FIREBASE_PROJECT_ID=''
FIREBASE_CLIENT_EMAIL=''
FIREBASE_PRIVATE_KEY=''
# OPAQUE server secret generated with `npx @serenity-kit/opaque@latest create-server-setup`
OPAQUE_SERVER_SETUP=''