@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
  Material 3 Color Scheme
  Defined as CSS Variables for Tailwind v4 using @theme
  (Light Theme)
*/

@theme {
  /* Primary */
  --color-primary: #B71D57;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #FFD9DD;
  --color-on-primary-container: #400018;

  /* Secondary */
  --color-secondary: #5F527E;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #E6DBFF;
  --color-on-secondary-container: #1B0C37;

  /* Tertiary */
  --color-tertiary: #006497;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #CEE5FF;
  --color-on-tertiary-container: #001D31;

  /* Surface, Background, and Outline */
  --color-background: #FFFBFB;
  --color-on-background: #201A1A;
  --color-surface: #FFFBFB;
  --color-on-surface: #201A1A;
  --color-surface-variant: #F3DDE1;
  --color-on-surface-variant: #514346;
  --color-outline: #847376;

  /* Error */
  --color-error: #BA1A1A;
  --color-on-error: #FFFFFF;
  --color-error-container: #FFDAD5;
  --color-on-error-container: #410002;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}