@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
  Material 3 Color Scheme
  Defined as CSS Variables for Tailwind v4 using @theme
  (Light Theme)
*/

@theme {
  /*
    The --color-* namespace generates utility classes (e.g., bg-primary, text-on-primary-container).
    It is best practice to define the variables with the --color- prefix.
  */

  /* Primary */
  --color-primary: #B71D57;
  --color-primary-container: #FFD9DD;

  /* Secondary */
  --color-secondary: #5F527E;
  --color-secondary-container: #E6DBFF;

  /* Tertiary */
  --color-tertiary: #006497;
  --color-tertiary-container: #CEE5FF;

  /* Surface, Background, and Outline */
  --color-background: #FFFBFB;
  --color-surface: #FFFBFB;
  --color-surface-variant: #F3DDE1;

  /* Error */
  --color-error: #BA1A1A;
  --color-error-container: #FFDAD5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}